{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="colmy-auto">
            <h4 class="display-4 logo-font text-black"  style="margin-top: 20%;">Oompa loompa doopity doo!</h4>
            <h4 class="display-4 logo-font text-black">Looks like something broke for you!</h4>
            <h3 class="display-4">Head back to the <a href="{% url 'home' %}">Chocolate Factory</a></h2>
        </div>
    </div>
</div>
{% endblock %}